@font-face {
  font-family: Cairo-Regular;
  src: url(../../fonts/cairo-regular.woff2);
}

.bg-mode-selector {
  height: 100vh;
  background: url('../../img/modeselector.jpg') no-repeat center center fixed;
  background-size: cover;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  flex: 1;
  padding: 0 30px 0 30px;
  height: 100vh;
}

.selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 3em 2em 3em;
  border-radius: 5px;
  background-color: rgba(198, 245, 253, 0.3);
  height: 65vh;
  text-align: center;
}

.selection-container-text {
  display: flex;
  flex-direction: row;
  height: 80%;
}

.selection-container-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 0 1em 0;
  height: 20%;
}

.text {
  color: #fff;
  font-family: cairo-regular;
  font-size: 2.5em;
  text-align: center;
}

.btn-mode-selector {
  margin: 0 auto;
  width: 9em;
}

.btn-back {
  min-width: 45px;
  min-height: 45px;
  border-width: 3px;
  font-size: 1.5em;
  white-space: normal;
}

.btn-back-container {
  display: flex;
  margin: -4em 0 4em 0;
  width: 100%;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .btn-back {
    border-width: 5px;
    font-size: 3em;
  }
}
