.main-page-bg {
  background: url('../../img/mainpage.jpg') no-repeat center center fixed;
  background-size: cover;
}

@font-face {
  font-family: Nebula-Regular;
  src: url(../../fonts/nebula-regular.woff2);
}

@font-face {
  font-family: Nebula-Hollow;
  src: url(../../fonts/nebula-hollow.woff2);
}

h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20vh 0 0 0;
  width: 100%;
  font-family: Nebula-Regular, sans-serif;
  font-size: 7em;
  text-align: center;
  text-shadow: -3px 0 #01278a, 0 3px #01278a, 3px 0 #01278a, 0 -3px #8ad4fe;
  color: #fff;
}

h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Nebula-Hollow, sans-serif;
  font-size: 2.5em;
  text-align: center;
  text-shadow: 1px 1px 0 #010514;
  color: #fff;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
