.bg-main-page {
  background: url('../../assets/img/mainpage/500w.jpg') no-repeat center center
    fixed;
  background-size: cover;
}

.cover-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  width: 100%;
  height: 100%;
  min-height: 80vh;
}

.btn-enter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-enter {
  border-width: 3px;
  min-width: 130px;
  min-height: 45px;
  font-size: 1.1em;
}

@media screen and (min-width: 300px) {
  .btn-enter {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 400px) {
  .btn-enter {
    font-size: 2em;
  }
}

@media screen and (min-width: 600px) {
  .btn-enter {
    border-width: 5px;
    font-size: 2.5em;
  }
}

@media screen and (min-width: 800px) {
  .btn-enter {
    font-size: 3em;
  }
}

@media screen and ((min-width: 450px) or (min-height: 300px)) {
  .bg-main-page {
    background: url('../../assets/img/mainpage/750w.jpg') no-repeat center
      center fixed;
  }
}

@media screen and ((min-width: 700px) or (min-height: 500px)) {
  .bg-main-page {
    background: url('../../assets/img/mainpage/1000w.jpg') no-repeat center
      center fixed;
  }
}

@media screen and ((min-width: 950px) or (min-height: 650px)) {
  .bg-main-page {
    background: url('../../assets/img/mainpage/1250w.jpg') no-repeat center
      center fixed;
  }
}

@media screen and ((min-width: 1200px) or (min-height: 850px)) {
  .bg-main-page {
    background: url('../../assets/img/mainpage/1500w.jpg') no-repeat center
      center fixed;
  }
}

@media screen and ((min-width: 1450px) or (min-height: 1000px)) {
  .bg-main-page {
    background: url('../../assets/img/mainpage/2000w.jpg') no-repeat center
      center fixed;
  }
}

@media screen and ((min-width: 1950px) or (min-height: 1350px)) {
  .bg-main-page {
    background: url('../../assets/img/mainpage/2500w.jpg') no-repeat center
      center fixed;
  }
}

@media screen and ((min-width: 2450px) or (min-height: 1700px)) {
  .bg-main-page {
    background: url('../../assets/img/mainpage/3000w.jpg') no-repeat center
      center fixed;
  }
}

@media screen and ((min-width: 2950px) or (min-height: 2000px)) {
  .bg-main-page {
    background: url('../../assets/img/mainpage/3840w.jpg') no-repeat center
      center fixed;
  }
}
