.suggestion-pictures-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  min-width: 180px;
  max-width: 1300px;
  border-radius: 5px;
  padding: 1em 1em;
  background-color: var(--light-blue-transparent);
}
