.suggestion-img-container {
  display: flex;
  flex-direction: column;
  min-width: 125px;
  max-width: 100%;
  height: auto;
  margin: 1em 1em;
  filter: contrast(0.6);
}

.suggestion-img {
  display: inline-block;
  max-width: 100%;
  margin: 0 0 1em 0;
}

.suggestion-img-desc {
  color: #012166;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .suggestion-img-container {
    max-width: 40%;
  }
}

@media screen and (min-width: 900px) {
  .suggestion-img-container {
    max-width: 32%;
  }
}
