:root {
  --btn-color-forth: #010514;
  --btn-color-back: #a6bcd3;
  --text: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
  color: var(--text);
}

.App {
  height: 90vh;
}

.back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  right: 20px;
  bottom: 20px;
  border-width: 2px;
  width: 45px;
  height: 45px;
  background-color: var(--btn-color-back);
  cursor: pointer;
  font-size: 2.5em;
  font-family: Nebula-Regular, sans-serif;
  color: var(--text);
}
