.backToTop {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  position: fixed;
  z-index: 1;
  right: 20px;
  bottom: 20px;
  border-width: 2px;
  width: 45px;
  height: 45px;
  background-color: #000;
  cursor: pointer;
  font-size: 2.5em;
  font-family: Nebula-Regular, sans-serif;
  color: #fff;
}
